// black
$BLACK: #000000;
$BLACK_22: #222222;
$BLACK_0C: #0C1125;
$BLACK_FD: #FD7444;
$BLACK_05: #052D3B;
$BLACK_223: #052D3B;
// gray
$GRAY_62: #626262;
$GRAY_9F: #9f9f9f;
$GRAY_959: #959595;
$GRAY_CF: #cfcfcf;
$GRAY_C3: #c3c3c3;
$GRAY_CE: #cecece;
$GRAY_C8: #c4c8d0;
$GRAY_EB: #ebebeb;
$GRAY_F8: #f8f8f8;
$GRAY_F7: #f7f9fc;
$GRAY_F2: #cff2ff;
$GRAY_DB: #DBDBDB;
$GRAY_C4: #c4c4c4;
$GRAY_E3: #E3E3E3;
$GRAY_EC: #ECECEC;
$GRAY_61: #616161;
$GRAY_E9: #e9e9e9;
$GRAY_E5: #e5e5e5;
$GRAY_C9: #c9c9c9;
$GRAY_EE: #EEEEEE;
$GRAY_FC: #FCFDFF;
$GRAY_20: #200900;
$GRAY_F1: #F1F1F1;
$GRAY_9F_66: #9f9f9f66;
$GRAY_CF_0: #cfcfcf80;
$GRAY_E4: #E3E4E5;
$GRAY_F1: #F1F1F1;

// blue
$BLUE_4A: #4a7d8f;
$BLUE_04: #04a4de;
$BLUE_09: #099cd1;
$BLUE_5D: #5dccfa;
$BLUE_1F: #1fbaf2;
$BLUE_E8: #e8f8fe;
$BLUE_0C: #0c1125;
$BLUE_C6: #C6E8F7;
$BLUE_E5: #e5f4ff;
$BLUE_10: #1068ab;
$BLUE_D2: #D2F1FD;
$BLUE_00: #007bff;
$BLUE_E6: #e6f7ff;
$BLUE_18: #1890ff;
$BLUE_DC: #04a2dc;
$BLUE_DB: #DBF4FE;
$BLUE_1F_A:#1FBAF21A;

// red
$RED_FB: #fb1c2b;
$RED_F3: #f32525;
$RED_FD: #fd4444;
$RED_E0: #e04f5f;
$RED_F8: #F8E2E5;
$RED_F7: #F87D7D;

// orange
$ORANGE_F2: #f2591f;
$ORANGE_FD: #fd7444;
$ORANGE_FF: #ffebe5;
$ORANGE_EA: #ea5c2b;
$ORANGE_7F: #ff7f3f;
$ORANGE_FE: #feeadb;
$ORANGE_FF: #FFE3D9;
$ORANGE_0D: #fd74440d;
$ORANGE_76: #fd7644;
$ORANGE_FF: #ffeee8;
$ORANGE_F2_A: #F2591F1A;

// white
$WHITE: #ffffff;
$WHITE_F1: #f1f2f6;
$WHITE_F5: #f5f5f5;
$WHITE_CC: #cccccc;
$WHITE_F7: #f7f9fc;
$WHITE_F0: #f0f1f4;
$WHITE_EB: #ebebeb;
$WHITE_F8: #f8f8f8;
$WHITE_FC: #f5fcff;
$WHITE_E2: #e2e2e2;
$WHITE_E9: #e9f8eb;
$WHITE_F3: #f3f3f3;
$WHITE_F2: #f2f6fb;
$WHITE_FA: #fafafa;
$WHITE_FB: #fbf3ee;
$WHITE_F9: #F9FDFF;

// green
$GREEN_0C: #0c9a82;
$GREEN_CD: #CDECD5;
$GREEN_27: #27B737;
$GREEN_20: #20922c;
$GREEN_209: #20922c26;
$GREEN_CF: #cfffdc;

//yellow
$YELLOW_F7: #F7F0CB;
$YELLOW_A2: #A28700;
$GREEN_3E: #3e8e7e;
$GREEN_9E: #9ef3d3;
$GREEN_DD: #ddf9e4;
$YELLOW_FC: #FCD900;
$YELLOW_F2: #F2CB07;
$YELLOW_FF: #FFE9A3;

// pink
$PINK_FF: #ffecf3;
$PINK_DB: #db6b97;
$PINK_F7: #F7E5FE;
$PINK_FE: #FEE1C4;

// purple
$PURPLE_EF: #EFF1FF;
$PURPLE_67: #676FA3;
